<div class="row g-5 mb-5">
  <!-- Left Section: Contact Form in a Card -->
  <div class="col-md-6">
    <div class="card contact-card">
      <div class="card-body">
        <h2>Contact Form</h2>
        <form
          method="POST"
          action="https://script.google.com/macros/s/AKfycbxGbbSbKAbw1tIbwvcrJNurZtoAhI4E1-e_YKcJDj2MMLe0vPX1haGKNMVvecZVC2nUmg/exec"
        >
          <input name="Name" type="text" placeholder="Name" required />
          <input name="Email" type="email" placeholder="Email" required />
          <input name="Phone" type="text" placeholder="Phone" required />
          <input name="Subject" type="text" placeholder="Subject" required />

          <textarea
            rows="8"
            name="Message"
            id="message"
            placeholder="If you have any query or messages please enter"
          ></textarea>
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Right Section: Contact Info in a Card with Icons -->
  <div class="col-md-6">
    <div class="card contact-card">
      <div class="card-body">
        <h2>Contact Info</h2>

        <ul class="contact-info">
          {% for item in site.data.profile.social_media %}
          <li>
            <img
              src="{{ item.icon }}"
              alt="{{ item.name }}"
              width="24"
              height="24"
            />
            {% if item.name == "email" %} Email:
            <a href="mailto:your-email@example.com">your-email@example.com</a>
            {% else %}
            <a href="{{ item.url }}" target="_blank"
              >{{ item.name | capitalize }}</a
            >
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
