<header
  class="d-flex flex-column flex-md-column flex-sm-row align-items-center pb-3 mb-5 border-bottom"
>
  <!-- Content Column: Title, Description, and University -->
  <div class="name">
    <div
      class="content-column d-flex flex-column align-items-center text-decoration-none"
    >
      <a href="{{ site.github.url }}/" class="title">
        <h1>{{ site.title }}</h1>
      </a>
      <span class="description">{{ site.data.profile.description }}</span>
    </div>
  </div>

  <!-- Hamburger Menu (Checkbox) for small screens -->
  <input type="checkbox" id="menu-toggle" />
  <label for="menu-toggle" class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <!-- Side Navigation Menu -->
  <nav class="side-menu">
    <button
      class="close-btn"
      onclick="document.getElementById('menu-toggle').checked = false;"
    >
      &times;
    </button>
    <ul>
      {% for item in site.data.settings.menu %}
      <li><a href="{{ site.github.url }}{{ item.url }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>

  <!-- Standard Nav Bar for larger screens -->
  <nav class="nav-bar d-none d-md-flex">
    {% for item in site.data.settings.menu %}
    <a
      href="{{ site.github.url }}{{ item.url }}"
      class="me-3 py-2 text-decoration-none"
      >{{ item.name }}</a
    >
    {% endfor %}
  </nav>
</header>
