<header class="d-flex flex-column flex-md-row align-items-start pb-3 mb-5 border-bottom">
  <!-- Content Column: Title, Description, and University -->
  <div class="content-column d-flex flex-column mb-3 mb-md-0 me-md-3">
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none mb-2">
      <span class="fs-4 fw-bold">{{ site.title }}</span>
    </a>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none mb-2">
      <span>{{ site.description }}</span>
    </a>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <span>{{ site.university }}</span>
    </a>
  </div>
  
  <!-- Navigation Bar -->
  <nav class="nav-bar d-flex flex-nowrap align-items-start">
    {% for item in site.data.settings.menu %}
      <a class="me-3 py-2 text-decoration-none" href="{{ site.github.url }}{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
</header>
