<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />

  <meta property="og:title" content="Michael Ahn Paarlberg" />
  <meta
    property="og:description"
    content="Michael Ahn Paarlberg, Ph.D., is an associate professor of political science at Virginia Commonwealth University and an associate fellow with the Institute for Policy Studies who studies migration and security issues in Latin America and the US. He was previously a postdoctoral fellow with the Center for the Study of Ethnicity, Race and Immigration at the University of Pennsylvania."
  />
  <!-- for facebook -->
  <meta
    property="og:image"
    content="http://michaelpaarlberg.org/assets/img/profile.jpg"
  />
  <meta property="og:url" content="http://michaelpaarlberg.org" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Your Website Name" />

  <!-- for twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Michael Ahn Paarlberg" />
  <meta
    name="twitter:description"
    content="Michael Ahn Paarlberg, Ph.D., is an associate professor of political science at Virginia Commonwealth University and an associate fellow with the Institute for Policy Studies who studies migration and security issues in Latin America and the US. He was previously a postdoctoral fellow with the Center for the Study of Ethnicity, Race and Immigration at the University of Pennsylvania."
  />
  <meta
    name="twitter:image:src"
    content="http://michaelpaarlberg.org/assets/img/profile.jpg"
  />

  <title>{{ page.title }} | {{ site.title }}</title>
  <link
    rel="stylesheet"
    href="{{ site.github.url }}/assets/libs/bootstrap/bootstrap.min.css"
  />
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css" />
  <script
    defer
    src="{{ site.github.url }}/assets/libs/fontawesome/all.min.js"
  ></script>
  <link
    rel="apple-touch-icon"
    sizes="152x152"
    href="{{ site.github.url }}/assets/apple-icon-152x152.png"
  />
  <link rel="shortcut icon" href="{{ site.github.url }}/assets/favicon.ico" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap"
    rel="stylesheet"
  />
</head>
