<head>
  <!-- Meta Settings -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />

  <!-- Open Graph Meta Tags for Facebook and General Use -->
  <meta property="og:title" content="Michael Ahn Paarlberg" />
  <meta
    property="og:description"
    content="Michael Ahn Paarlberg, Ph.D., is an associate professor of political science at Virginia Commonwealth University and an associate fellow with the Institute for Policy Studies who studies migration and security issues in Latin America and the US. He was previously a postdoctoral fellow with the Center for the Study of Ethnicity, Race and Immigration at the University of Pennsylvania."
  />
  <meta
    property="og:image"
    content="http://michaelpaarlberg.org/assets/img/profile.jpg"
  />
  <meta property="og:url" content="http://michaelpaarlberg.org" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Michael Ahn Paarlberg" />

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Michael Ahn Paarlberg" />
  <meta
    name="twitter:description"
    content="Michael Ahn Paarlberg, Ph.D., is an associate professor of political science at Virginia Commonwealth University and an associate fellow with the Institute for Policy Studies who studies migration and security issues in Latin America and the US. He was previously a postdoctoral fellow with the Center for the Study of Ethnicity, Race and Immigration at the University of Pennsylvania."
  />
  <meta
    name="twitter:image"
    content="http://michaelpaarlberg.org/assets/img/profile.jpg"
  />

  <!-- Title and Favicon -->
  <title>{{ page.title }} | {{ site.title }}</title>
  <link
    rel="apple-touch-icon"
    sizes="152x152"
    href="{{ site.github.url }}/assets/icon/favicon_io/apple-touch-icon.png"
  />
  <link
    rel="shortcut icon"
    href="{{ site.github.url }}/assets/icon/favicon_io/favicon.ico"
  />

  <!-- Stylesheets -->
  <link
    rel="stylesheet"
    href="{{ site.github.url }}/assets/libs/bootstrap/bootstrap.min.css"
  />
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap"
    rel="stylesheet"
  />

  <!-- Font Awesome -->
  <script
    defer
    src="{{ site.github.url }}/assets/libs/fontawesome/all.min.js"
  ></script>
</head>
