<div class="row g-5 mb-5">
  <!-- Text Section -->
  <div class="col-md-6">
    <p>
      Michael Ahn Paarlberg, Ph.D., is an associate professor of political science at <a href="https://politicalscience.vcu.edu/directory/paarlberg.html">Virginia Commonwealth University</a> and an associate fellow with the <a href="https://ips-dc.org/ips_author/michael-paarlberg/">Institute for Policy Studies</a> who studies migration and security issues in Latin America and the US. He was previously a postdoctoral fellow with the <a href="https://cseri.sas.upenn.edu/">Center for the Study of Ethnicity, Race and Immigration</a> at the University of Pennsylvania.
    </p>
    <p>
      Paarlberg was the <a href="https://www.huffpost.com/entry/bernie-sanders-cuba-venezuela-socialist_n_5e557ef4c5b64c1d562103f0?fbclid=IwAR0KlTOPiRruzYsAhqp5UdMl-5K-WIM28LDu34uUVsCVaN-XKQ7Y9x0ZEcM">Chief Latin America Policy Adviser</a> to the Bernie Sanders campaign in 2020. A former journalist for the Guardian, he regularly publishes his work in news outlets such as <i>Foreign Policy</i>, <i>Slate</i>, <i>El Faro</i>, and the <i>Washington Post</i>. 
    </p>
    <p>
      You can reach him by email <a href="mailto:mapaarlberg@vcu.edu">here</a>.
    </p>
    <p>
      Profiles and interviews: <a href="https://www.eldiario.es/internacional/michael-paarlberg-exasesor-sanders-america-latina-gobierno-maduro-lastre-izquierda_128_11574306.html">El Diario</a> | CNN Chile | IQ Latino | Frank News | <a href="https://thefirethesetimes.com/2024/08/02/el-salvadors-gang-state-w-michael-paarlberg/">The Fire These Times</a>
    </p>

  </div>

  <!-- Image Section -->
  <div class="col-md-6">
    <img
      src="{{ site.github.url }}/assets/img/profile.jpg"
      alt="Home"
      width="100%"
    />

    <!-- Social Media Links without Text -->
    <div class="card contact-card mt-3">
      <div class="card-body text-center">
        <ul class="contact-info list-inline">
          {% for item in site.data.profile.social_media %}
          <li class="list-inline-item">
            {% if item.name == "email" %}
            <a href="mailto:{{item.url}}">
              <img src="{{ item.icon }}" alt="Email" width="30" height="30" />
            </a>
            {% else %}
            <a href="{{ item.url }}" target="_blank">
              <img
                src="{{ item.icon }}"
                alt="{{ item.name | capitalize }}"
                width="30"
                height="30"
              />
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
