---
layout: default
---

<div class="container mt-4">
  <h2>Selected Clips</h2>

  <!-- Display selected clips from the YAML file -->
  {% if site.data.journalism.selectedclips %}
    <ul>
      {% for item in site.data.journalism.selectedclips %}
        <li><a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <h2>Washington</h2>

  <!-- Display Washington articles from the YAML file -->
  {% if site.data.journalism.washington %}
    <ul>
      {% for item in site.data.journalism.washington %}
        <li><a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <h2>New Republic</h2>

  <!-- Display New Republic articles from the YAML file -->
  {% if site.data.journalism.newrepublic %}
    <ul>
      {% for item in site.data.journalism.newrepublic %}
        <li><a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <h2>Slate</h2>

  <!-- Display Slate articles from the YAML file -->
  {% if site.data.journalism.slate %}
    <ul>
      {% for item in site.data.journalism.slate %}
        <li><a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <h2>These Times</h2>

  <!-- Display These Times articles from the YAML file -->
  {% if site.data.journalism.thesetime %}
    <ul>
      {% for item in site.data.journalism.thesetime %}
        <li><a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <h2>Jacobin</h2>

  <!-- Display Jacobin articles from the YAML file -->
  {% if site.data.journalism.jacobin %}
    <ul>
      {% for item in site.data.journalism.jacobin %}
        <li><a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
