  <div class="row g-5 mb-5">
    <div class="col-md-12">
      <h4 class="fw-bold border-bottom pb-2 mb-4">Academic Publications</h4>
      <ul>
        {% for item in site.data.publications.academic_publications %}
          <li>
            <p>
              {% if item.link %}
                <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer"><strong>{{ item.title }}</strong></a>
              {% else %}
                <strong>{{ item.title }}</strong>
              {% endif %}
              , {{ item.journal }} ({{ item.date }})
            </p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row g-5 mb-5">
    <div class="col-md-12">
      <h4 class="fw-bold border-bottom pb-2 mb-4">Policy Publications</h4>
      <ul>
        {% for item in site.data.publications.policy_publications %}
          <li>
            <p>
              {% if item.link %}
                <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer"><strong>{{ item.title }}</strong></a>
              {% else %}
                <strong>{{ item.title }}</strong>
              {% endif %}
              (Co-authored with {{ item.co_author }}), {{ item.publisher }} ({{ item.date }})
            </p>
            {% if item.coverage_title %}
              <p><em>{{ item.coverage_title }}</em></p>
              <p><a href="{{ item.coverage_link }}" target="_blank" rel="noopener noreferrer">Read coverage</a></p>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

