<div class="container mt-4 pt-5">
    <div class="row mb-3">
        <div class="col text-left">
            <h3>Media Coverage</h3>
        </div>
        <div class="col text-right">
            <a href="/journalism" class="btn btn-link">See All Media</a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 mb-4">
            <iframe width="100%" height="215" src="https://www.youtube.com/embed/nU7daT_-MeU" title="The Truth about Venezuela, w/ Michael Paarlberg and Maria Espinosa | Ep. 190" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 mb-4">
            <iframe width="100%" height="215" src="https://www.youtube.com/embed/wClAU1dUsRQ" title="“Trump dijo muchas cosas contradictorias y otras imposibles”, afirmó Paarlberg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 mb-4">
            <iframe width="100%" height="215" src="https://www.youtube.com/embed/4ksDeU5OOiY" title="El Salvador: Democratic challenges in an emerging one-party state" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>
