<!-- Featured Video -->
<!-- <div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      <div class="ratio ratio-16x9">
        <iframe
          scrolling="no"
          frameborder="0"
          allowfullscreen
          webkitallowfullscreen
          mozallowfullscreen
          allow="autoplay; fullscreen"
          src="https://w3.mp.lura.live/player/3.12.16/v3/anvload.html?key=..."
          width="640"
          height="360"
        ></iframe>
      </div>
    </div>
  </div>
</div> -->

<!-- Other Media Videos -->
<div class="container mt-4 pt-5">
  <div class="row">
    {% for video in site.data.media.videos %}
    <div class="col-md-6 mb-4">
      <div class="video-card">
        <h5 class="mb-3">{{ video.title }}</h5>
        {% if video.type == "local" %}
        <video
          controls
          width="100%"
          height="315"
          style="background-color: #000;"
        >
          <source src="{{ site.github.url }}/{{ video.src }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        {% else %}
        <div class="ratio ratio-16x9">
          <iframe
            scrolling="no"
            frameborder="0"
            allowfullscreen
            webkitallowfullscreen
            mozallowfullscreen
            allow="autoplay; fullscreen"
            src="{{ video.src }}"
            width="100%"
            height="315"
          ></iframe>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
