<div class="container mt-4 pt-5">
  <!-- Flexbox with space-between to cover full width -->
  <div class="d-flex justify-content-between align-items-center w-100 mb-3">
    <!-- Heading aligned to the left -->
    <h3>Academic Publications</h3>

    <!-- Link aligned to the right -->
    <a href="/publications" class="btn btn-link mb-3">See All Publications</a>
  </div>

  <!-- Row for the publication cards -->
  <div class="row">
    {% for pub in site.data.publications.publications %}
    <div class="col-md-4 mb-4">
      <div class="pub-card">
        <img
          src="{{ pub.image }}"
          alt="{{ pub.title }}"
          class="img-fluid"
          style="
            height: 500px;
            width: 100%;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            object-fit: contain;
          "
        />
        <a
          href="{{ pub.link }}"
          class="pub-title"
          style="
            display: block;
            margin-top: 10px;
            font-weight: bold;
            text-align: center;
            color: #007bff;
            text-decoration: none;
          "
        >
          {{ pub.title }}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
