<div class="container mt-4 pt-5">
  <!-- Flexbox with space-between to cover full width -->
  <div class="d-flex justify-content-between align-items-center w-100 mb-3">
    <!-- Heading aligned to the left -->
    <h3>Media Coverage</h3>

    <!-- Link aligned to the right -->
    <a href="/media-coverage" class="btn btn-link mb-3">See All Media</a>
  </div>

  <!-- Row for the media videos -->
  <div class="row">
    {% for video in site.data.media.videos %}
    <div class="col-md-4 mb-4">
      <div class="video-card">
        <iframe
          width="100%"
          height="215"
          src="{{ video.src }}"
          title="{{ video.title }}"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
