/* Basic Reset */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Add padding and margin for headings, paragraphs, and lists */
  h1, h2, h3, p, ul {
    margin-bottom: 1rem; /* Add margin below */
  }
  