img[src^="/journalism"] {
    /* Your styles here */
    border: 2px solid #007bff;
    border-radius: 8px;
    padding: 5px;
    max-width: 100%;
  }
  .video-card {
    position: relative;
    perspective: 1000px; /* Give a perspective to the parent */
}

.video-card iframe {
    width: 100%;
    height: 215px;
    border: none; /* Remove border for a cleaner look */
    border-radius: 8px; /* Round the corners */
    transition: transform 0.3s ease; /* Transition for 3D effect */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

.video-card:hover iframe {
    transform: translateY(-10px) rotateY(5deg); /* Move up and tilt on hover */
}

/* Optional: Add some spacing and center the card in the column */
.row {
    justify-content: center;
}

.pub-card {
  transition: transform 0.2s; /* Animation */
}

.pub-card:hover {
  transform: scale(1.05); /* Zoom effect on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Increased shadow on hover */
}

/* Styling for the section alignment */
h2 {
  text-align: left;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding-left: 0px; /* Adds two tab spaces (usually 24px per tab) */

}

ul li {
  margin-bottom: 10px;
  padding-left: 48px; /* Adds two tab spaces (usually 24px per tab) */
}

ul li strong {
  font-weight: bold;
}
.btn-contact {
  background-color: #007bff; /* Bootstrap blue */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-contact:hover {
  background-color: #0056b3; /* Darker blue on hover */
  color: white;
}
