---
layout: default
---
  <div class="row g-4 mb-5">
    <div class="col-md-12">
      <h4 class="fw-bold border-bottom pb-2 mb-2">Selected Clips</h4>

      <!-- Display selected clips from the YAML file -->
      {% if site.data.journalism.selectedclips %}
        <ul>
          {% for item in site.data.journalism.selectedclips %}
            <li><a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="col-md-12">
      <h4 class="fw-bold border-bottom pb-2 mb-2">Washington</h4>

      <!-- Display Washington articles from the YAML file -->
      {% if site.data.journalism.washington %}
        <ul>
          {% for item in site.data.journalism.washington %}
            <li><a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="col-md-12">
      <h4 class="fw-bold border-bottom pb-2 mb-2">New Republic</h4>

      <!-- Display New Republic articles from the YAML file -->
      {% if site.data.journalism.newrepublic %}
        <ul>
          {% for item in site.data.journalism.newrepublic %}
            <li><a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="col-md-12">
      <h4 class="fw-bold border-bottom pb-2 mb-2">Slate</h4>

      <!-- Display Slate articles from the YAML file -->
      {% if site.data.journalism.slate %}
        <ul>
          {% for item in site.data.journalism.slate %}
            <li><a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="col-md-12">
      <h4 class="fw-bold border-bottom pb-2 mb-2">These Times</h4>

      <!-- Display These Times articles from the YAML file -->
      {% if site.data.journalism.thesetime %}
        <ul>
          {% for item in site.data.journalism.thesetime %}
            <li><a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="col-md-12">
      <h4 class="fw-bold border-bottom pb-2 mb-2">Jacobin</h4>

      <!-- Display Jacobin articles from the YAML file -->
      {% if site.data.journalism.jacobin %}
        <ul>
          {% for item in site.data.journalism.jacobin %}
            <li><a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
