---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">Teaching</h3>
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h5>I teach the following classes at VCU:</h5>
    <ul>
      <li>POLI 109: Comparative Politics</li>
      <li>POLI 320: Research Methods</li>
      <li>POLI 353: Latin American Government and Politics</li>
      <li>POLI 391: The Politics of Immigration</li>
    </ul>
    <p>Previously, I taught Latin American politics and assisted teaching statistics in the Government Department and School of Foreign Service at Georgetown University.</p>
</div>